# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.gz

# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local
.env.*.local

# Build Files
dist/
build/

# GitHub Pages
*.cache
*.temp
.cache/
temp/

# Assets Cache
assets/**/*.cache

# IDE Files
.vscode/
.idea/
*.iml

# Exclude generated certificates (if used for local HTTPS)
key.pem
cert.pem

# Exclude deployment files
*.zip
*.tar
